<header>
	<nav>
		<ul class="loggedIn">
			<li>dappado.com /</li>	
			<li class="wall"></li>	
			
			<li class="user cta">
				<a  href="#" class="username">simonmcmanus</a>
				<img  src="http://a0.twimg.com/profile_images/231310192/smm_normal.jpg">
				
				<ul class="sublinks">
					<li><a href="/">Main Page</a></li>
					<!--<li><a href="/settings">settings</a></li>-->
					<li><a href="/logout">logout</a></li>
				</ul>
			</li>
			<li class="cta" ><a href="tasks/new" class="newTask">New Task</a></li>
		</ul>
		
	</nav>
</header>