<header class="login">
	<h1>Lst.ee</h1>
	<div class="note">
		<section>
			<h3>Login</h3>
			<div class="desc">
				Login with one of these services to get started with your own list.
				<img src="/public/img/arrow.png"/>
			</div>
		</section>
	</div>

	<ul class="login">
		<li>Login with....</li>
		<li><a href="/auth/google" class="google" title="Login with Google">Google</a></li>
		<li><a href="/auth/facebook" class="facebook" title="Login with Facebook">Facebook</a></li>
		<li><a href="/auth/twitter" class="twitter" title="Login with Twitter">Twitter</a></li>
		<li ><a href="tasks/new" class="newTask">New Task</a></li>
	</ul>
</header>