<li class="tilt id">
	<section>
		<div class="button">
			<menu>
				<a class="edit  vtip" title="Edit this task" href="./edit">edit</a>
				<a class="archieve vtip"  title="Delete this task" href="./achieve">archieve</a>
				<a class="close vtip" title="close this task and return to the board" href="./close">close</a>
			</menu>
		</div>
		<div class="edit"></div>
		<div class="read">
			<h3 class="title"></h3>
	    	<div class="text"></h3>
			<div class="tags"></div>
		</div>
		<div class="comments"></div>
	</section>
</li>
