<li class="task id">
	<section>
		<div class="button">
			<a class="edit  vtip" title="Edit this task" href="/edit/task/232/">edit</a>
			<a class="delete vtip"  title="Delete this task" href="./delete">delete</a>
			<a class="close vtip" title="close this task and return to the board" href="./close">close</a>
		</div>
		<div class="edit">
		</div>
		<div class="read">
			<h3 class="title"></h3>
	    	<div class="text"></div>
			<div class="tags"></div>
		</div>
		<div class="comments"></div>
	</section>
</li>
