<!doctype html>
<html>
	<head>
		<title></title>
		
		<script type="text/javascript" src="/public/lib/jquery.js"></script>	
		<script type="text/javascript" src="/public/lib/jquery.ui.js"></script>
		<script type="text/javascript" src="/public/lib/jquery-ui-touch-punch.js"></script>	
		<script type="text/javascript" src="/public/lib/json2.js"></script>	
		<script type="text/javascript" src="/public/lib/prettydates.js"></script>			
		<script type="text/javascript" src="/public/js/core.js"></script>	
		
		<script type="text/javascript" src="/urls.js"></script>	
		
		<script type="text/javascript" src="/public/js/events.js"></script>	
		<script type="text/javascript" src="/public/js/views/base.js"></script>	
		<script type="text/javascript" src="/public/js/views/board.js"></script>	
		<script type="text/javascript" src="/public/js/views/task.js"></script>	
		<script type="text/javascript" src="/public/js/uis/base.js"></script>	
		<script type="text/javascript" src="/public/js/uis/task.js"></script>	
		<script type="text/javascript" src="/public/js/uis/taskNew.js"></script>	
		<script type="text/javascript" src="/public/js/uis/taskEdit.js"></script>	
		<script type="text/javascript" src="/public/js/uis/overlay.js"></script>	
		<script type="text/javascript" src="/public/js/uis/comments.js"></script>	
		
		
		<script type="text/javascript" src="/public/js/views/user_new.js"></script>			
		<script type="text/javascript" src="/public/js/uis/user_taken.js"></script>
		
		<script type="text/javascript" src="/nowjs/now.js"></script>
		<meta name="viewport" content="width=1120" />
		<link rel="stylesheet" type="text/css" href="/public/css/shared.css" />
		<link rel="stylesheet" type="text/css" href="/public/css/user_new.css" />
		<link rel="stylesheet" type="text/css" href="/public/style.css" />

		<script type="text/javascript" src="/public/ckeditor/ckeditor.js"></script>
		<script src="/public/vtip/vtip.js" type="text/javascript"></script>
		<link href="/public/vtip/vtip.css" rel="stylesheet" type="text/css" />
		<link rel=StyleSheet href="/public/fonts/gotham-light/style.css" type="text/css" meda="screen">
	</head>
	<body>
		<div id="header" class="shadow">
		</div>
		<div class="wall"></div>
		<div id="overlay">
		</div>
		<div id="lights" class="onetwothree">
			
			<div id="listText">
				
			</div>
			
			<div  class="frame">
				<div id="container"></div>
			</div>
			
			<div id="hideaway">
			</div>
			<div id="footer">
				<div>
					Dappado.com has been put together by <a href="http://twitter.com/simonmcmanus">@simonmcmanus</a> using Node.js, Express.js and Sizlate.
				</div>
			</div>

		</div>
	</body>
</html>
