{{tmpl partial.html}}

<table class="tasks">
  <tr>
      <th>
          Not Started 
      </th>
      <th>
          In Progress 
      </th>
      <th>
          Done 
      </th>
  </tr>
  <tr>
      <td>

		<ul class="new_task">
		<li class="new_task" >
			<form method="POST" action="tasks/new" class="new">
					<input name="title" id="title" placeholder="title"/>
					<textarea name="text" placeholder="text"></textarea>
					<button	 type="submit">Add Item</button>
			</form>
		</li>
		</ul>   
       	<ul id="notStarted"  class="tasks">
	
	{{each(i, list) status.notStarted}}
	    <li class="tilt" id="${list.id}">
			<div class="button">
				<a class="edit" href="./edit">edit</a>
				<a class="close" href="./close">close</a>	
			</div>
			<div class="edit">
			</div>
			<div class="read">
					<h3>${list.title}</h3>
				<div class="comments">
				</div>

	        	<div class="desc">
					${list.text}
				</div>
			</div>
			<div class="comments">
			</div>
		</li>
	{{/each}}
          </ul>
      </td>
      <td>
	

      <ul class="tasks" id="inProgress">
				{{each(i, list) status.inProgress}}
			        <li class="tilt" id="${list.id}">
						<div class="button">
							<a class="edit" href="./edit">edit</a>
							<a class="close" href="./close">close</a>	
						</div>
						<div class="edit">
						</div>
						<div class="read">
			  					<h3>${list.title}</h3>
							<div class="comments">
							</div>

			            	<div class="desc">
								${list.text}
							</div>
						</div>
						<div class="comments">
						</div>
					</li>
				{{/each}}      
		
      </ul>
      <td>
          <ul class="tasks" id="done">
				{{each(i, list) status.done}}
			        <li class="tilt" id="${list.id}">
						<div class="button">
							<a class="edit" href="./edit">edit</a>
							<a class="close" href="./close">close</a>	
						</div>
						<div class="edit">
						</div>
						<div class="read">
			  					<h3>${list.title}</h3>
							<div class="comments">
							</div>
			            	<div class="desc">
								${list.text}
							</div>
						</div>
						<div class="comments">
						</div>
					</li>
				{{/each}}

          </ul>
      </td>
  </tr>
</table>