
<table>
  <tr>
      <th>
          Not Started 
      </th>
      <th>
          In Progress 
      </th>
      <th>
          Done 
      </th>
  </tr>
  <tr>
      <td>
          <ul id="notStarted" class="tasks">
			<li id='new_task'>
				<form method="POST" action="new" class="new">
					<div class="note">
						<input name="title" id="title" placeholder="title"/>
						<textarea name="text" placeholder="text"></textarea>
						<button	 type="submit">Add Item</button>
					</div>
				</form>
			</li>
	
	
	
	
	{{each(i, list) list}}
        <li class="tilt" id="${list.id}">
			<div class="edit"></div>
			<div class="read">
        		<h3>${list.title}</h3>
            	<div class="desc">
					${list.text}
				</div>
			</div>
			<div class="comments">
				<div class="comment">
					<span class="title">
						Simon McManus
					</span>
					Should blah blah blah blah blah 
				</div>
				<div class="comment">
					<span class="title">
						Simon McManus
					</span>
					Should blah blah blah blah blah 
				</div>
				<div class="comment">
					<span class="title">
						Simon McManus
					</span>
					Should blah blah blah blah blah 
				</div>
				<div class="comment">
					<span class="title">
						Simon McManus
					</span>
					Should blah blah blah blah blah 
				</div>
				<div class="comment">
					<span class="title">
						Simon McManus
					</span>
					Should blah blah blah blah blah 
				</div>
			
			</div>
			
			
			<ul class="status">
				<li class="col1">
					12 Comments
				</li>
				
				<li class="col1">
					0 Not Started
				</li>
				<li class="col1">
				13	In Progress 
				</li>
				<li class="col1">
				5	Done
				</li>
        </ul>
	
	
	{{/each}}
              <li id="Save support description.">
              		<h3>Save support description</h3>
                  <div class="desc">
                  	Make list items send their descrtion and link with each update <img src="http://www.clker.com/cliparts/c/2/I/7/X/w/male-teacher-2-th.png" />
				</div>
              </li>
              <li id="bosh">
                  <h3>Multi Format support</h3>
                  <div class="desc">
                  	do a simple List view. 
					<ul class="subtasks">
						<li>break walls down into seperate list resources</li>
					</ul>
                  </div>
              </li>
              <li id="posh">
                  <h3>Posh</h3>
                  <div class="desc">
                      description type thing here.
                  </div>
              </li>
          </ul>
      </td>
      <td>
      <ul class="tasks" id="inprogress">
      </ul>
      <td>
          <ul class="tasks" id="done">
          </ul>
      </td>
  </tr>
</table>
<div id="chat">  <h2>  History:</h2></div>
